<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script>
    tinymce.init({
            selector: 'textarea',
            auto_focus: 'element1'
        });</script>


</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Trang chủ", "Index", "Admins", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Quản lý chủ đề", "Index", "ChuDes", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Quản lý Nhà xuất bản", "Index", "NhaXuatBans", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Quản lý sách", "SACH", "SACHs", new { area = "Admin" }, new { @class = "nav-link" })</li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
