@model template.Models.KHACHHANG

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutBookStore.cshtml";
}

<table align="center">
    <h2 style="text-align:center"> ĐĂNG KÝ THÀNH VIÊN </h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td> Họ tên khách hàng: </td>
            <td>@Html.TextBox("HoTenKH") @ViewData["Loi1"]</td>
        </tr>
        <tr style="height:40px">
            <td> Ngày Sinh: </td>
            <td>
                <input type="date" name="NgaySinh" />
            </td>
        </tr>
        <tr style="height:40px">
            <td> Địa chỉ: </td>
            <td>@Html.TextBox("DiaChi") @ViewData["Loi5"]</td>
        </tr>

        <tr style="height:40px">
            <td> Điện thoại: </td>
            <td>@Html.TextBox("DienThoaiKH") @ViewData["Loi6"]</td>

        </tr>
        <tr style="height:40px">
            <td> Email: </td>
            <td>@Html.TextBox("Email") @ViewData["Loi7"]</td>
        </tr>
        <tr style="height:40px">
            <td> Tên đăng nhập: </td>
            <td>@Html.TextBox("TenDN") @ViewData["Loi2"]</td>
        </tr>
        <tr style="height:40px">
            <td> Mật Khẩu: </td>
            <td>@Html.Password("MatKhau") @ViewData["Loi3"]</td>
        </tr>
        <tr style="height:40px">
            <td> Mật khẩu nhập lại: </td>
            <td>@Html.Password("Matkhaunhaptrolai") @ViewData["Loi4"]</td>
        </tr>

        

        <tr style="height:40px">
            <td> </td>
            <td>
                <input type="submit" name="Đăng Ký" />
            </td>
        </tr>
    }
</table>




